<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Househunter</h1>
    <p>
      A realtor has posted a response to your inquiry.
      Login and view the response to your inquiry.
    </p>
  </body>
</html>