<div class="title-container">
  <h1>Edit Company details</h1>
</div>

<%= render partial: "form" %>

<div>
  <ul class="company-actions">
    <li><%= link_to "Back to Companies", companies_path %></li>
  </ul>
</div>